.container {
  composes: container from "../page.module.css"
}

.calendarContainer {
  border-radius: 8px;
  padding-block: 8px;
}

.exerciseStatsContainer {
  margin-top: 8px;
}

.exerciseHistory {
  display: flex;
  flex: 1;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  position: relative;
}

.exerciseHistoryTable {
  display: flex;
  gap: 12px;
  align-items: baseline;
}
