@import 'normalize.css';
@import url('https://use.typekit.net/usl1ngp.css');

/** TODO: Find and replace in-line style colors with these too **/
:root {
  --background: #ECEFF3;
  --backgroundShim: #ECEFF3AA;
  --white: #FFFFFF;
  --text: #1D1226;
  --textSecondary: #908E96;
  --accent: #A462D8;
  --accentHover: #8553ae;
  --accentHoverLight: #e2caf5;
  --secondary: #DBF881;
  --secondaryHover: #b7d755;
  --textInverted: #FFFFFF;
}

html, body {
  background: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  align-items: center;
  height: calc(100vh - 48px);
  font-family: "futura-pt", sans-serif;
}

.cl-avatarBox {
  width: 56px;
  height: 56px;
}

/** Combobox styling **/
div[data-open] {
  background: var(--white);
  width: 263px;
  border-radius: 0px 0px 8px 8px;
}

div[data-open] > div {
  padding: 8px 16px;
  cursor: pointer;
}

div[data-focus] {
  background: var(--accentHoverLight);
}

/** Hide number input arrows **/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
