@import 'normalize.css';
@import url('https://use.typekit.net/usl1ngp.css');

/** TODO: Find and replace in-line style colors with these too **/
:root {
  --background: #ECEFF3;
  --backgroundShim: #ECEFF3AA;
  --white: #FFFFFF;
  --text: #1D1226;
  --textSecondary: #908E96;
  --accent: #A462D8;
  --accentHover: #8553ae;
  --accentHoverLight: #e2caf5;
  --secondary: #DBF881;
  --secondaryHover: #b7d755;
  --textInverted: #FFFFFF;
}

html, body {
  background: var(--background);
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  align-items: center;
  height: calc(100vh - 48px);
  font-family: "futura-pt", sans-serif;
}

.cl-avatarBox {
  width: 56px;
  height: 56px;
}

/** Combobox styling **/
div[data-open] {
  background: var(--white);
  width: calc(100% - 119px);
  max-width: calc(257px) !important;
  border-radius: 0px 0px 8px 8px;
}

div[data-open] > div {
  padding: 8px 16px;
  cursor: pointer;
}

div[data-focus] {
  background: var(--accentHoverLight);
}

/** Hide number input arrows **/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/** Shimmer **/
.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: var(--background);
    background: linear-gradient(to right, var(--white) 8%, var(--background) 18%, var(--white) 33%);
    background-size: 1200px 100%;
  }

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}


@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}
