.previousWorkoutsHeader {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
  color: var(--textSecondary);
}

.workoutButton {
  border: none;
  background: var(--accent);
  color: var(--textInverted);
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 14px;
  transition: background 150ms ease-in-out, border 150ms ease-in-out;
  border: 2px solid var(--accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding-left: 8px;
}

.workoutButton:hover,
.workoutButton:focus {
  color: var(--textInverted);
  outline: none;
  background: var(--accentHover);
  border: 2px solid var(--text);
}

.delete {
  background: var(--warning);
  border: 2px solid var(--textSecondary);
}

.delete:hover, .delete:focus {
  background: var(--warning)
}
