.container {
  background: var(--white);
  margin-bottom: 16px;
  padding: 16px;
  max-width: calc(100vw - 48px);
  width: 336px;
  border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  color: var(--textSecondary);
}

.title {
  font-weight: bold;
  font-size: 24px;
  color: var(--accent);
}

.exercisesContainer {
  margin-top: 16px;
  display: flex;
  flex: 1;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: relative;
}

.exercisesContainer::state(webkit-scrollbar) {
  display: none; /* Safari and Chrome */
}

.exercises {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.exercise {
  background: var(--secondary);
  border-radius: 8px;
  padding: 8px;
  max-width: 100px;
  width: 100px;
  position: relative;
}

.exerciseName {
  font-size: 16px;
  font-weight: bold;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 2px;
}

.commentIcon {
  position: absolute;
  top: 4px;
  right: 5px;
  cursor: pointer;
}

.setContainer {
  background: var(--white);
  border-radius: 8px;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  font-size: 12px;
}

.setsContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 12px;
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--textSecondary);
  gap: 16px;
}

.setAdornment {
  color: var(--textSecondary);
}

.minutesLabel {
  color: var(--accent);
  font-weight: bold;
  margin-top: 4px;
  text-align: right;
}
