.signIn {
  border: none;
  background: var(--accent);
  transition: background 300ms ease-in-out;
  color: var(--textInverted);
  font-size: 32px;
  font-weight: bold;
  padding: 24px;
  border-radius: 999px;
}

.signIn:focus {
  outline: 2px solid var(--text);
  color: var(--textInverted);
}

.signIn:hover {
  cursor: pointer;
  background: var(--accentHover);
}
