.userBadgeWrapper {
  position: fixed;
  top: 8px;
  left: 12px;
  display: flex;
  align-items: center;
  background: var(--backgroundShim);
  padding-right: 24px;
  padding: 8px;
  z-index: 9;
  transition: min-width 1000ms ease-in-out, border-radius 500ms ease-in-out;
}

.placeholderUserImage {
  width: 56px;
  height: 56px;
  border-radius: 999px;
  background: var(--white);
}

.welcomeText {
  font-size: 14px;
  color: var(--textSecondary);
  white-space: nowrap;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}

.userInfoWrapper {
  transition: all 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}
