.container {
  background: #A462D8;
  color: white;
  transition: width 300ms ease-in-out, background 300ms ease-in-out;
  max-width: calc(100vw - 64px);
  padding: 24px;
  border-radius: 32px;
  width: 320px;
}

.startup {
  font-size: 32px;
  font-weight: bold;
  height: 80px;
}

.startup:hover, .startup:focus {
  cursor: pointer;
  background: #8553ae;
}

.plusContainer {
  color: #A462D8;
  background: white;
  border-radius: 999px;
  font-size: 64px;
  padding: 3px 24px;
}

.addButton {
  background: #DBF881;
  border: none;
  border-radius: 0px 14px 14px 0px;
  font-weight: bold;
  width: 68px;
  outline: none;
  transition: background 150ms ease-in-out;
}

.addButton:disabled {
  background: #DBF881AA;
}

.addButton:not(:disabled):hover, .addButton:not(:disabled):focus {
  background: #b7d755;
}

.addButton:not(:disabled):hover {
  cursor: pointer;
}

.firstTime {
  background: white;
  color: #1D1226;
  border-radius: 8px;
  margin-top: 12px;
  padding: 16px;
}

.exercisesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.exerciseContainer {
  max-height: 56px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}

.exercise {
  background: #DBF881;
  color: #1D1226;
  border-radius: 14px 14px 0px 0px;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.pastExercise {
  opacity: 0.7;
  border-radius: 0px 0px 14px 14px;
  background: #DBF881;
  color: #1D1226;
  padding: 16px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.exerciseName {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  margin: -8px;
  border-radius: 8px;
  border: none;
  background: none;
}
.exerciseName:hover {
  background: rgba(0,0,0,.2);
  outline: none;
}
.exerciseName > svg {
  transition: rotate 150ms ease-in-out;
}

.setContainer {
  background: white;
  border-radius: 8px;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  font-size: 12px;
}

.setsContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.notesInput {
  border: none;
  padding: 8px;
  border-radius: 8px;
}

.notesInput:focus {
  outline: 2px solid #1D1226;
}

.setInputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
}

.setInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.addSetButton {
  background: #A462D8;
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.addSetButton:hover, .addSetButton:focus {
  background: #8553ae;
}

.setInputContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  font-weight: bold;
}

.setInputNumber {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #1D1226;
  width: 25px;
}

.setInputNumber:focus {
  outline: 2px solid #1D1226;
}

.deleteSetButton {
  opacity: 0.4;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2px;
}

.deleteSetButton:hover, .deleteSetButton:focus {
  opacity: 1;
}

