.container {
  background: var(--accent);
  color: var(--textInverted);
  transition: width 300ms ease-in-out, background 300ms ease-in-out;
  max-width: calc(100vw - 64px);
  padding: 24px;
  border-radius: 32px;
  width: 320px;
}

.startup {
  font-size: 32px;
  font-weight: bold;
  height: 80px;
}

.startup:hover, .startup:focus {
  color: var(--textInverted);
  cursor: pointer;
  background: var(--accentHover);
}

.plusContainer {
  color: var(--accent);
  background: var(--white);
  border-radius: 999px;
  font-size: 64px;
  padding: 3px 24px;
}

.addButton {
  background: var(--secondary);
  border: none;
  border-radius: 0px 14px 14px 0px;
  font-weight: bold;
  width: 68px;
  outline: none;
  transition: background 150ms ease-in-out;
}

.addButton:disabled {
  background: var(--secondary);
  opacity: 0.75;
}

.addButton:not(:disabled):hover, .addButton:not(:disabled):focus {
  color: var(--text);
  background: var(--secondaryHover);
}

.addButton:not(:disabled):hover {
  cursor: pointer;
}

.firstTime {
  background: var(--white);
  color: var(--text);
  border-radius: 8px;
  margin-top: 12px;
  padding: 16px;
}

.exercisesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.exerciseContainer {
  max-height: 70px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}

.exercise {
  background: var(--secondary);
  color: var(--text);
  border-radius: 14px 14px 0px 0px;
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.pastExercise {
  opacity: 0.7;
  border-radius: 0px 0px 14px 14px;
  background: var(--secondary);
  color: var(--text);
  padding: 16px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.exerciseName {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  margin: -8px;
  border-radius: 8px;
  border: none;
  background: none;
}
.exerciseName:hover {
  background: rgba(0,0,0,.2);
  outline: none;
}
.exerciseName > svg {
  transition: rotate 150ms ease-in-out;
}

.setContainer {
  background: var(--white);
  border-radius: 8px;
  padding: 2px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-weight: bold;
  font-size: 12px;
}

.setsContainer {
  display: flex;
  flex-direction: row;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.notesInputContainer {
  opacity: 0.5;
}

.notesInputContainer:hover, .notesInputContainer:focus-within{
  opacity: 1;
}

.notesInput {
  border: none;
  padding: 8px;
  border-radius: 8px;
  margin-top: 8px;
  padding-left: 34px;
  width: 100%;
}

.notesInput:focus {
  outline: 2px solid var(--text);
}

.notesInputIcon {
  margin-top: 6px;
  margin-right: -28px;
  padding-left: 4px;
  z-index: 3;
  color: var(--textSecondary);
}

.setInputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 6px;
}

.setInputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.addSetButton {
  background: var(--accent);
  color: var(--textInverted);
  border-radius: 8px;
  border: none;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

.addSetButton:hover, .addSetButton:focus {
  color: var(--textInverted);
  background: var(--accentHover);
}

.setInputContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  font-weight: bold;
}

.setInputNumber {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: var(--text);
}

.setInputNumber:focus {
  outline: 2px solid var(--text);
}

.deleteSetButton {
  opacity: 0.4;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2px;
}

.deleteSetButton:hover, .deleteSetButton:focus {
  opacity: 1;
  color: var(--accent);
}

.endWorkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.timer > span {
  font-size: 24px;
  margin-top: 1.5px;
}

.endWorkoutButton {
  border: none;
  background: var(--white);
  color: var(--accent);
  padding: 16px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 14px;
  transition: background 150ms ease-in-out, border 150ms ease-in-out;
  border: 2px solid var(--accent);
  cursor: pointer;
}

.endWorkoutButton:hover, .endWorkoutButton:focus {
  color: var(--accent);
  outline: none;
  background: var(--accentHoverLight);
  border: 2px solid var(--text);
}

.endWorkoutConfirmButton {
  border: none;
  background: var(--accent);
  color: var(--textInverted);
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 14px;
  transition: background 150ms ease-in-out, border 150ms ease-in-out;
  border: 2px solid var(--accent);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-left: 2px;
}

.endWorkoutConfirmButton:hover,
.endWorkoutConfirmButton:focus {
  color: var(--textInverted);
  outline: none;
  background: var(--accentHover);
  border: 2px solid var(--text);
}

.setAdornment {
  color: var(--textSecondary);
}
